* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("./9vm6.gif");
  background-size: cover;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.box {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: aliceblue;
  border: 2px solid black;
}
.box:hover {
  background-color: blanchedalmond;
}
.main-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 55px;
}
